@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

}

/* estilos globais */

body {

    font-family: "Calistoga", serif;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover,
    button:hover {
        cursor: pointer;
    }
}

html,
body {
    height: 100%;

}

main {
    min-height: 100%;
    padding-top: 86px;
}

header {
    z-index: 10;
    background-color: #1fa7cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    position: fixed;
    width: 100%;
    margin-bottom: 50px;

    img {
        width: 130px;
        height: 40px;
    }

    ul {
        display: flex;
        gap: 16px;
    }

    a {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }

    a:hover {
        text-decoration: underline;
        color: #ffffffa7;
    }
}


footer {
    background-color: #1fa7cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    p {
        font-size: 16px;
        color: #000;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
        color: #ffffffa7;
    }
}