.section_table {
    margin-inline: auto;
}

.section_table h3 {
    margin: 32px 0 0;
    font-size: 38px;
}

.section_table table {
    padding: 10px;
    border-collapse: collapse;
    margin: 38px 48px;
}

.section_table table thead {
    background-color: #00194e;
    color: #fff;
}

.section_table table td,
th {
    text-align: left;
    padding: 8px;
    font-size: 20px;
}

.section_table table tbody tr:nth-child(even) {
    background-color: #5cbaf55d;
}